.st0 {
  fill: #cccccc;
}
.st1 {
  fill: url(#XMLID_442_);
}
.st2 {
  fill: url(#XMLID_443_);
}
.st3 {
  fill: #b79c88;
}
.st4 {
  fill: url(#XMLID_444_);
}
.st5 {
  fill: #ffffff;
}
.st6 {
  fill: url(#XMLID_445_);
}
.st7 {
  opacity: 0.39;
  fill: url(#XMLID_446_);
}
.st8 {
  fill: url(#XMLID_447_);
}
.st9 {
  fill: #706f6e;
}
.st10 {
  fill: #919191;
}
.st11 {
  fill: #424241;
}
.st12 {
  fill: url(#XMLID_448_);
}
.st13 {
  fill: url(#XMLID_449_);
}
.st14 {
  opacity: 0.58;
  fill: url(#XMLID_450_);
}
.st15 {
  opacity: 0.58;
  fill: url(#XMLID_451_);
}
.st16 {
  opacity: 0.58;
  fill: url(#XMLID_452_);
}
.st17 {
  fill: url(#XMLID_453_);
}
.st18 {
  fill: url(#XMLID_454_);
}
.st19 {
  fill: url(#XMLID_455_);
}
.st20 {
  fill: url(#XMLID_456_);
}
.st21 {
  fill: url(#XMLID_457_);
}
.st22 {
  fill: url(#XMLID_458_);
}
.st23 {
  fill: url(#XMLID_459_);
}
.st24 {
  opacity: 0.65;
  fill: #ffffff;
}
.st25 {
  fill: url(#XMLID_460_);
}
.st26 {
  fill: #565656;
}
.st27 {
  fill: #dedbd6;
}
.st28 {
  fill: #bdb8b2;
}
.st29 {
  fill: #efebea;
}
.st30 {
  opacity: 0.31;
  fill: #bdb8b2;
}
.st31 {
  fill: #bf1320;
}
.st32 {
  fill: #009b3a;
}
.st33 {
  fill: #fedf00;
}
.st34 {
  fill: #002776;
}
.st35 {
  fill: #a08fc9;
}
.st36 {
  fill: #898989;
}
.st37 {
  fill: url(#XMLID_461_);
}
.st38 {
  fill: #adadad;
}
.st39 {
  opacity: 0.58;
  fill: url(#XMLID_462_);
}
.st40 {
  opacity: 0.58;
  fill: url(#XMLID_463_);
}
.st41 {
  fill: url(#XMLID_464_);
}
.st42 {
  fill: url(#XMLID_465_);
}
.st43 {
  fill: url(#XMLID_466_);
}
.st44 {
  fill: url(#XMLID_467_);
}
.st45 {
  fill: url(#XMLID_468_);
}
.st46 {
  fill: url(#XMLID_469_);
}
.st47 {
  fill: url(#XMLID_470_);
}
.st48 {
  fill: #2d2d2d;
}
.st49 {
  fill: #383838;
}
.st50 {
  fill: #494949;
}
.st51 {
  fill: #e28c10;
}
.st52 {
  fill: #896852;
}
.st53 {
  fill: #9e8577;
}
.st54 {
  fill: #594231;
}
.st55 {
  fill: #4c392c;
}
.st56 {
  fill: #a52b2b;
}
.st57 {
  fill: #c1384c;
}
.st58 {
  fill: #c15267;
}
.st59 {
  fill: #963245;
}
.st60 {
  fill: none;
}
.st61 {
  fill: #282828;
}
.st62 {
  fill: #cecece;
}
.st63 {
  opacity: 0.62;
  fill: url(#XMLID_471_);
}
.st64 {
  opacity: 0.38;
  fill: url(#XMLID_472_);
}
.st65 {
  opacity: 0.53;
  fill: url(#XMLID_473_);
}
.st66 {
  opacity: 0.68;
  fill: url(#XMLID_474_);
}
.st67 {
  opacity: 0.56;
  fill: #ffffff;
}
.st68 {
  fill: #eaa347;
}
.st69 {
  fill: #b56f12;
}
.st70 {
  fill: #3f2e22;
}
.st71 {
  fill: url(#XMLID_475_);
}
.st72 {
  fill: #8c8b8b;
}
.st73 {
  fill: #4c4c4c;
}
.st74 {
  fill: #d8d8d8;
}
.st75 {
  fill: #bfbfbf;
}
.st76 {
  fill: #b7b7b7;
}
.st77 {
  fill: #727272;
}
.st78 {
  fill: #cc7833;
}
.st79 {
  fill: url(#XMLID_476_);
}
.st80 {
  opacity: 0.55;
  fill: url(#XMLID_477_);
}
.st81 {
  fill: #423c3a;
}
.st82 {
  opacity: 0.4;
}
.st83 {
  opacity: 0.2;
  fill: #ffffff;
}
.st84 {
  opacity: 0.53;
  fill: url(#YELLOW_3_);
}
.st85 {
  opacity: 0.4;
  fill: #ffffff;
  stroke: url(#SHINE_3_);
  stroke-miterlimit: 10;
}
.st86 {
  opacity: 0.61;
  fill: none;
  stroke: #ffffff;
  stroke-width: 13;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st87 {
  fill: url(#XMLID_478_);
}
.st88 {
  fill: url(#XMLID_479_);
}
.st89 {
  fill: url(#XMLID_480_);
}
.st90 {
  fill: url(#XMLID_481_);
}
.st91 {
  fill: url(#XMLID_482_);
}
.st92 {
  opacity: 0.39;
  fill: url(#XMLID_483_);
}
.st93 {
  fill: url(#XMLID_484_);
}
.st94 {
  fill: url(#XMLID_485_);
}
.st95 {
  fill: url(#XMLID_486_);
}
.st96 {
  opacity: 0.58;
  fill: url(#XMLID_487_);
}
.st97 {
  opacity: 0.58;
  fill: url(#XMLID_488_);
}
.st98 {
  opacity: 0.58;
  fill: url(#XMLID_489_);
}
.st99 {
  fill: url(#XMLID_490_);
}
.st100 {
  fill: url(#XMLID_491_);
}
.st101 {
  fill: url(#XMLID_492_);
}
.st102 {
  fill: url(#XMLID_493_);
}
.st103 {
  fill: url(#XMLID_494_);
}
.st104 {
  fill: url(#XMLID_495_);
}
.st105 {
  fill: url(#XMLID_496_);
}
.st106 {
  fill: url(#XMLID_497_);
}
.st107 {
  fill: url(#XMLID_498_);
}
.st108 {
  opacity: 0.58;
  fill: url(#XMLID_499_);
}
.st109 {
  opacity: 0.58;
  fill: url(#XMLID_500_);
}
.st110 {
  fill: url(#XMLID_501_);
}
.st111 {
  fill: url(#XMLID_502_);
}
.st112 {
  fill: url(#XMLID_503_);
}
.st113 {
  fill: url(#XMLID_504_);
}
.st114 {
  fill: url(#XMLID_505_);
}
.st115 {
  fill: url(#XMLID_506_);
}
.st116 {
  fill: url(#XMLID_507_);
}
.st117 {
  opacity: 0.62;
  fill: url(#XMLID_508_);
}
.st118 {
  opacity: 0.38;
  fill: url(#XMLID_509_);
}
.st119 {
  opacity: 0.53;
  fill: url(#XMLID_510_);
}
.st120 {
  opacity: 0.68;
  fill: url(#XMLID_511_);
}
.st121 {
  fill: url(#XMLID_512_);
}
.st122 {
  fill: url(#XMLID_513_);
}
.st123 {
  opacity: 0.55;
  fill: url(#XMLID_514_);
}
.st124 {
  opacity: 0.53;
  fill: url(#YELLOW_4_);
}
.st125 {
  opacity: 0.4;
  fill: #ffffff;
  stroke: url(#SHINE_4_);
  stroke-miterlimit: 10;
}
.st126 {
  fill: url(#XMLID_515_);
}
/* ---------- GIT HUB ICON SVG STYLE ------------ */
.st0c {
  fill: #4d4472;
}
.st1c {
  fill: #f6f0ff;
}

/* ---------- EMAIL ICON SVG STYLE ------------ */

.st0e {
  fill: #4d4472;
}
.st1e {
  fill: #ffffff;
}

/* ---------- PROJECTS ICON SVG STYLE ------------ */
.st0p {
  fill: #4d4472;
}

/* ---------- BUBBLES ABOUT ME SVG STYLE ------------ */

.st0bbl {
  fill: #e3e2e8;
}
.st1bbl {
  fill: none;
  stroke: #776cb7;
  stroke-miterlimit: 10;
}
.st2bbl {
  fill: none;
  stroke: #cac7dd;
  stroke-miterlimit: 10;
}
.st0bbl2 {
  fill: #e3e2e8;
}
.st1bbl2 {
  fill: none;
  stroke: #776cb7;
  stroke-miterlimit: 10;
}
.st2bbl2 {
  fill: none;
  stroke: #cac7dd;
  stroke-miterlimit: 10;
}
/* ---------- PROJECT LINKS SVG STYLE ------------ */
.st0pj {
  fill: #4d4472;
}
.st1pj {
  fill: #f6f0ff;
}
.st2pj {
  fill: #b6b3dd;
}
.st3pj {
  fill: none;
}

.st0 {
  fill: linear-gradient(#1e1a44, #453160);
}

/* ---------- SATELITE SVG STYLE ------------ */

.st0st {
  fill: #6d32ba;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st1st {
  fill: #6398f7;
}
.st2st {
  fill: #6d6d6d;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st3st {
  fill: #547ac6;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st4st {
  fill: #ea4b4b;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st5st {
  fill: #b7b7b7;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st6st {
  opacity: 0.25;
  fill: #efefef;
}
.st7st {
  opacity: 0.31;
  fill: #172b3f;
}
.st8st {
  fill: #172b3f;
}
.st9st {
  fill: #4583dd;
}
.st10st {
  fill: #235591;
}
.st11st {
  fill: none;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st12st {
  fill: #5e2adb;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st13st {
  opacity: 0.21;
  fill: #172b3f;
}
.st14st {
  opacity: 0.33;
  fill: #172b3f;
}
.st15st {
  opacity: 0.33;
  fill: #f9f9f9;
}
.st16st {
  fill: #7070e0;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st17st {
  fill: #383349;
  stroke: #172b3f;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st18st {
  opacity: 0.25;
  fill: #414142;
}
.st19st {
  opacity: 0.35;
  fill: #414142;
}
.st20st {
  opacity: 0.43;
  fill: #414142;
}
.st21st {
  opacity: 0.26;
  fill: #e5e5e5;
}
